<html>
    <head>
        <title></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="css/stylesheet.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css">
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>

      <div id="login-form">
        
        <img src="../San Juan Logo-modified.png" class="login-logo">
        <b class="login-word-small">PAMAHALAANG &nbsp; BARANGAY &nbsp; NG </b>
        <span class="login-word">SAN JUAN</span>
        <table class="login-view">
          <tr>
            <td>
        <label class="login-user">USERNAME</label>
            </td>
          </tr>
      <tr>
        <td>
        <input id="username" type="text" placeholder="Username">
      </td>
      </tr>
      <tr>
        <td>
        <Label class="login-user">PASSWORD</Label>
      </td>
      </tr>
        <tr>
          <td>
        <input id="password" type="password" placeholder="Password">
      </td>
      </tr>
      <tr>
        <td>
        <button id="login-user">LOGIN</button>
      </td>
      </tr>
    
      </table>
      </div>
      <div id="Confirmation" is-active="false">
        <span id="confirmation-message">Are you sure to ano?</span>
        <button id="confirmation-accept" class="confirmation-buttons">Accept</button>
        <button id="confirmation-cancel" class="confirmation-buttons">Cancel</button>
      </div>
      <div id="all-pages"> 
        <nav>
            <img src="../San Juan Logo-modified.png" class="logo"> <br>
            <div class="Title">
                <h3>PAMAHALAANG BARANGAY NG</h3>
                <h1>SAN JUAN</h1>
                <ul>
                    <li><button class="nav-button" id="Visualization-tab">VISUALIZATION</button></li>
                    <li><button class="nav-button" id="Population-tab">POPULATION</button></li>
                    <li><button class="nav-button" id="Financial-tab">FINANCIAL AID</button></li>
                    <li><button class="nav-button" id="About-tab">ABOUT</button></li>
                    <li><button class="nav-button" id="logout-button"><i class="fas fa-sign-out-alt"></i></button></li>
                </ul>
            </div>

            <hr>
            <br>
        </nav>
      
      
  
      <div id="Index-Table">
          <span id="visualization-title">VISUALIZATION</span>
          <br>
          <span id="filter-text">FILTER:</span>
          <select id="visualization-filter">
            <option value="0">SOCIAL CLASS</option>
            <option value="1">GENDER</option>
            <option value="2">CIVIL STATUS</option>
            <option value="3">EDUCATIONAL ATTAINMENT</option>
          </select>
          <button id="visualization-filter-btn">GO</button>
          <table id="visualization-header">
            <tr>
              <th>TYPE: BARANGAY</th>
              <th>MUNICIPALITY: HAGONOY</th>
              <th>PROVINCE: BULACAN</th>
              <th>REGION: III</th>
              <th>ISLAND GROUP: LUZON</th>
              <th>POSTAL CODE: 3002</th>
            </tr>
          </table>
          <div class="tables-chart">
            <div id="chart-border">
              <div id="visualization-legends">
              </div>
              <div id="visualization-chart"></div>
              <span class="chart-bold">ZONE | PUROK</span>
            </div>
            <div class="more-visualization">
              <table id="visualization-table">
              </table>
              <div class="bottom-visualization">
                <table id="visualization-total">
                </table>
                <div id="visualization-total-data">
                  <span id="vtotal-title">TOTAL DATA</span>
                  <span id="vtotal-data">123898</span>
                </div>
              </div>
            </div>
          </div>
          <span id="visualization-hint">San Juan is situated at approximately 14.8661, 120.7414, in the island of Luzon. Elevation at these coordinates is estimated at 8.1 meters or 26.6 feet above mean sea level.</span>
      </div>


      <div id="population-view">
        <button id="btn-add">ADD</button>
        <button id="Search">SEARCH</button>
        <input id="Search-input" type="text">
      <label id="buhay-label" >SOCIAL CLASS:</label>
          <select id="buhay">
              <option value="1" selected>1 = Poor</option>
              <option value="2">2 = Low income</option>
              <option value="3">3 = Middle income</option>
              <option value="4">4 = High income</option>
          </select>
      <label id="purok-label" >ZONE:</label>
          <select id="zone">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
          </select>
          <div class="button-sa-filter">
          <button  id="btn-filter"><i class="fas fa-check"></i></button>
          <button id="btn-filter-data" id="btn-reset"><i class="fas fa-redo-alt"></i></button>
        </div>
          <br>
          <table id="Population-Table"></table>  
          
      </div>
    

      <div id="form-edit">
        
          <form id="edit" >
            <table>
              <tr>
                <td><label>Name:</label></td>
                <td><input id="newname" type="text" required ><br></td>
              </tr>
             <tr>
               <td><label>Age:</label></td>
               <td><input id="newage" type="text" required><br></td>
             </tr>
             <tr>
               <td><label>Gender:</label></td>
               <td><input id="newgender" type="text" required><br></td>
             </tr>
             <tr>
               <td><label >Civil Status:</label></td>
               <td> <input id="newstatus" type="text" required><br></td>
             </tr>
             <tr>
               <td><label >Zone: </label></td>
               <td> <input id="newzone" type="text" required><br></td>
             </tr>
             <tr>
               <td><label >Work:</label></td>
               <td><input id="newwork" type="text" required><br></td>
             </tr>
            <tr>
              <td><label >Source of Income: </label></td>
              <td><input id="newincome" type="text" required><br></td>
            </tr>
             <tr>
               <td><label >Budget: </label></td>
               <td><input id="newbudget" type="text" required><br></td>
             </tr>
            <tr>
              <td><label>Social Class: </label></td>
              <td><input id="newclass" type="text" required><br></td>
            </tr>
             <tr>
               <td><label>Educational Attainment: </label></td>
               <td><input id="neweducational" type="text" required><br></td>
             </tr>
             <tr>
               <td colspan="2"> 
             <button id="new-record" >Update</button> <button id="form-close">Close</button>
             </td>
             </tr>
            </table>
        
          </form>

      </div>


      <div id="financial-view">


        <p id="financial-title">FINANCIAL AID</p>
        <br>
        <br>
        <table id="Financial-Table"></table>
        <br>
        <button id="btn-add-Schedule">ADD</button>
        <div id="form-edit-schedule">
          <form class="form-financial">
            <table>
              <tr>
                <td><label>Zone:</label></td>
                <td> <input id="newzone1" type="text" required ><br></td>
              </tr>
              <tr>
                <td><label>Social Class:</label></td>
                <td>  <input id="newsocialclass" type="text" required><br></td>
              </tr>
              <tr>
                <td> <label>Schedule Date:</label></td>
                <td><input id="newscheduledate" type="text" required><br></td>
              </tr> 
              <tr>
                <td> <label >Schedule Time:</label></td>
                <td><input id="newscheduletime" type="text" required><br></td>
              </tr>
              <tr>
                <td> <label >Amount: </label></td>
                <td> <input id="newamount" type="text" required><br></td>
              </tr>
              <tr> 
                <td colspan="2"> <button id="new-sched">Update</button>&nbsp; <button id="close-form-sched">Close</button></td>
              </tr>
            </form>
        </table>
        </div>
      </div>


    

      <div class="citizen">
        <table>
        <form>  
       
               <tr>
                <td><label >Name:</label></td>
                <td><input id="citizen-name" type="text" required><br></td>
            </tr>
            
             <tr>
               <td><label >Age:</label></td>
               <td><input id="citizen-age" type="text" required><br></td>
             </tr>
             <tr>
               <td><label >Gender:</label></td>
               <td>
                 <select id="selectgender">
                <option value="male" selected>MALE</option>
                <option value="female">FEMALE</option>
                </select>
                </td>
             </tr>
            
             <tr>
               <td><label >Civil Status:</label></td>
               <td> 
                <select id="selectcivilstatus" >
                  <option value="single" selected>SINGLE</option>
                  <option value="married">MARRIED</option>
                  <option value="widow">WIDOW</option>
                </select>
               </td>
             </tr>
     
            <tr>
              <td><label >Zone: </label></td>
              <td>
                <select id="selectzone">
                <option value="1" selected>ZONE 1</option>
                <option value="2">ZONE 2</option>
                <option value="3">ZONE 3</option>
                <option value="4">ZONE 4</option>
                <option value="5">ZONE 5</option>
              </select></td>
            </tr>
            
             <tr>
               <td> <label >Work:</label></td>
               <td><input id="citizen-work" type="text" placeholder="current work"required><br></td>
             </tr>
             <tr>
               <td> <label >Source of Income: </label></td>
               <td>
                  <select id="selectincome">
                <option value="none" selected>NONE</option>
                <option value="work">WORK</option>
                <option value="business">BUSINESS</option>
                <option value="pension">PENSION</option>
              </select></td>
             </tr>
            <tr>
              <td><label>Monthly Budget: </label></td>
              <td>  
                <select id="budget">
                <option disabled selected>CHOOSE BUDGET</option>
                <option value="poor"> < 5,000</option>
                <option value="low"> 5,000 - 10,000 </option>
                <option value="middle"> 11,000 - 20,000</option>
                <option value="high"> > 21,000 </option>
              </select></td>
            </tr>
            <tr>
              <td><label>Social Class: </label></td>
              <td><input id="fillclass" type="text" disabled></td>
            </tr>
             <tr>
               <td> <label>Educational Attainment: </label></td>
               <td>
                <select id="selecteducation">
                <option value="NOT YET STUDYING" selected>NOT YET STUDYING</option>
                <option value="ELEMENTARY">ELEMENTARY</option>
                <option value="SECONDARY">SECONDARY</option>
                <option value="COLLEGE">COLLEGE</option>
                <option value="CURRENTLY STUDYING">CURRENTLY STUDYING</option>
              </select></td>
             </tr>
             <tr>
             <td colspan="2" ><button id="submit-citizen">Confirm</button>
             <button id="btn-back-population">Back</button></td>
            </tr>
      
    </form>
  </table>
    </div>



    <div class="schedule">
      <table>
         <form >
           <tr>
             <td><label >Zone:</label></td>
             <td> <input id="schedule-zone" type="text" required><br></td>
           </tr>
           <tr>
             <td><label >Social Class:</label></td>
             <td> <input id="schedule-socialclass" type="text" required><br></td>
           </tr>
           <tr>
             <td><label>Schedule Date:</label></td>
             <td> <input id="schedule-scheduledate" type="text" required><br></td>
           </tr>
           <tr>
             <td><label >Schedule Time:</label></td>
             <td><input id="schedule-scheduletime" type="text" required><br></td>
           </tr>
           <tr>
             <td><label>Amount: </label></td>
             <td><input id="schedule-amount" type="text" required><br></td>
           </tr>
           <tr>
             <td><button id="submit-schedule">Confirm</button></td>
             <td><button id="btn-back-financial">Back</button></td>
           </tr>
        
      </form>
    </table>
</div>


<div id="about">
       
  <h1>MISYON</h1>
  <p><b>Pamahalaan na may katapatan, may kababaang loob ang buong nasasakupan. Walang kinikilingan, luntiang kapaligiran, payapa ang isipan, nagkakaisa, nagtutulungan, nagdadamayan at kapakanan ng kapwa ay pinahahalagahan.</b></p>
  <h1>PANANAW</h1>
  <p><b> Barangay na payapa, tahimik at may malinis na kapaligiran. Nagkakaisa ang mga mamamayan at aktibong nakikilahok ang bawat sektor sa mga programa at proyektong tungo sa ikauunlad ng pamayanan na pinamumunuan ng tapat at maayos na pamahalaan.</b></p>
</div>

<script src="js/login.js"></script>
<script src="js/population.js"></script>
<script src="js/visualization.js"></script>
<script src="js/financial.js"></script>
</div>

    </body>
</html>
